<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
   (C) Copyright 2012, IBM Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<plugin>
  <extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet alias="/test/aggr" class="com.ibm.jaggr.service.impl.AggregatorImpl" load-on-startup="true">
      <!-- No scheme on the URI means the resource is located 
           in the same resource bundle as this file -->
      <init-param name="config" value="testaggr-config.js"/>
    </servlet>
  </extension>

  <extension point="org.eclipse.equinox.http.registry.httpcontexts">
    <httpcontext id="com.ibm.jaggr.sample.context.resources" />
  </extension>
    
  <extension point="org.eclipse.equinox.http.registry.filters">
    <filter alias="/test/res/*" class="com.ibm.jaggr.sample.BasicFilter" httpcontextId="com.ibm.jaggr.sample.context.resources" />
  </extension>
  
  <extension point="org.eclipse.equinox.http.registry.resources">
    <resource alias="/test/res" base-name="/WebContent" httpcontextId="com.ibm.jaggr.sample.context.resources" />
  </extension>
</plugin>
